{% extends 'base.html'%}
{% import 'macros.html' as macro%}

{% block styles%}
    {{ super() }}
    <link href="https://fonts.googleapis.com/css?family=Boogaloo|Bungee|Caveat+Brush|Russo+One" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container" style="font-family: 'Monoton', cursive;">
    

</div>
	
	<div style="margin-bottom: 200px; margin-top: -165px;  " class="container"><img src="static/images/a7.gif"> <img style="width: 580px;float: right; height: 280px" src="static/images/a5.jpg"> </div>

	</div>
    <div class="container" style="font-weight: bold; background-color: #03142B; width: 100%;margin-top: -180px; ">
      <div class="row">
        <ul>
          {{ macro.displaySourcesList(news_sources)}}
        </ul>
      </div>

    </div>

{% endblock %}
